In [1]:
import pandas as pd

In [2]:
# Construye la ruta relativa al archivo 
a = "../primer_proyecto_datos/milan_airbnb.csv"
b = "../primer_proyecto_datos/london_airbnb.csv"
c = "../primer_proyecto_datos/madrid_airbnb.csv"
d = "../primer_proyecto_datos/NY_airbnb.csv"
e = "../primer_proyecto_datos/sydney_airbnb.csv"
f = "../primer_proyecto_datos/tokyo_airbnb.csv"

In [3]:
# Rutas relativas
rutas = {
    'Milán': a,
    'Londres': b,
    'Madrid': c,
    'Nueva York': d,
    'Sídney': e,
    'Tokio': f
}

# Cargar los datasets, agregar la columna 'ciudad' y unirlos
dataframes = []

for ciudad, ruta in rutas.items():
    df = pd.read_csv(ruta)
    df['ciudad'] = ciudad
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)

In [4]:
# Código para guardar el DataFrame transformado en un archivo CSV usando una ruta relativa
combined_df.to_csv("../primer_proyecto_datos/combined_airbnb.csv", index=False)

In [6]:
combined_df.head(10)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,ciudad,neighbourhood_group
0,6400,The Studio Milan,13822,Francesca,TIBALDI,45.44119,9.17813,Private room,100,4,12,19/04/10,0.14,1.0,358.0,Milán,NaN
1,23986,""" Characteristic Milanese flat""",95941,Jeremy,NAVIGLI,45.44806,9.17373,Entire home/apt,150,1,15,07/09/20,0.21,1.0,363.0,Milán,NaN
2,28300,nice flat near the park,121663,Marta,SARPI,45.47647,9.17359,Private room,180,1,8,22/04/12,0.11,1.0,365.0,Milán,NaN
3,32119,Nico & Cynthia's Easy Yellow Suite,138683,Nico&Cinzia,VIALE MONZA,45.52014,9.22300,Entire home/apt,75,2,15,01/07/18,0.23,3.0,200.0,Milán,NaN
4,32649,Nico&Cinzia's Red Easy Suite!,138683,Nico&Cinzia,VIALE MONZA,45.51874,9.22495,Entire home/apt,71,2,29,23/10/16,0.71,3.0,308.0,Milán,NaN
5,37256,COZY FULLY FURNISHED PRIVATE STUDIO CITY CENTER,119002,Giancarlo,BUENOS AIRES - VENEZIA,45.46884,9.20777,Private room,55,2,34,13/05/19,0.49,2.0,0.0,Milán,NaN
6,40470,Giacinto Cosy & clean flat near MM1,174203,Giacinto,VIALE MONZA,45.52023,9.22747,Entire home/apt,75,3,37,24/07/17,0.33,2.0,350.0,Milán,NaN
7,42732,"Navigli near down town, linked Expo",186608,Francesco,MAGENTA - S. VITTORE,45.45814,9.17654,Entire home/apt,199,2,14,22/04/18,0.20,2.0,362.0,Milán,NaN
8,46536,Nico & Cinzia's Pink Suite!,138683,Nico&Cinzia,VIALE MONZA,45.52276,9.22478,Entire home/apt,76,2,27,03/07/18,0.23,3.0,150.0,Milán,NaN
9,55055,BEAUTIFUL MODERN ATTIC CENTER OF MI,246217,Cristina,BUENOS AIRES - VENEZIA,45.48096,9.21686,Entire home/apt,145,3,2,16/04/16,0.03,1.0,365.0,Milán,NaN